.form-parent {
  width: 1000px;
  margin: 80px auto;
  border-radius: 15px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.3);
  grid-template-columns: 1fr 1fr;
  height: 600px;
  display: grid;
}

.content-left {
  background: linear-gradient(
    90deg,
    #1abc9c  0%,
    lightseagreen 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 90%;
  height: 100%;
  display: flex;
}

.form p {
  text-align: start;
  width: 80%;
  color: #fff;
}

.inputs {
  margin-bottom: 8px;
  width: 80%;
}

.inputs p {
  font-size: 13px;
  margin-top: 8px;
  color: #f00e0e;
}

.form-label {
  font-size: 14px;
  display: inline-block;
  color: #fff;
}

.form-input {
  outline: none;
  height: 50px;
  border-radius: 2px;
  display: block;
  padding-left: 8px;
  width: 100%;
  border: none;
}



.input-btn {
  margin-top: 10px;
  border-radius: 300px;
  width: 80%;
  height: 50px;
  background: linear-gradient(
    90deg,
    #1abc9c 0%,
    lightseagreen 100%
  );
  outline: none;
  border: none;
  color: whitesmoke;
  font-size: 16px;
}

.input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    gold 0%,
    gold 100%
  );
}

.input-login {
  font-size: 13px;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

